/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/
.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}


.mdl-textfield__error {
  color: rgb(0, 213, 43);
}


.page-content {
  color: rgb(162, 221, 158);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}


body {
  background-color: rgb(244, 89, 6);
}

img {
  max-width: 300px;
  height: 220px;
  float: right;
  margin-top: 40px;
  margin-bottom: 250px;
  margin-right: 100px;
}